header{
    height: 30%;
    background: url("../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
header > h1 {
    color: white;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
header > form {
    margin: 0 auto;
    text-align: center;
    height: 3rem;
}
.ip-input{
    color: var(--color-black);
    font-size: 18px;
    padding: 1rem;
    width: 30rem;
    border-radius: 20px 0 0 20px;
    outline: none;
    height:100%;
    border: 1px solid rgba(96, 96, 240, 0.616);
    border-right: none;
}
button{
    background-color: #000000;
    width:5rem;
    height: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: var(--color-black);
}

@media screen and (max-width: 700px) {
    header{
        height: 35%;
    }
    header > h1 {
        font-size: 1.7rem;
    }
    form{
        width:90%;
    }
    .ip-input{
        width: 85%;
        font-size: 16px;
        padding: 1.5rem;
    }
    button{
        width: 15%
    }
}

@media screen and (max-width: 300px) {
    header > h1 {
        font-size: 1.2rem;
    }
}