main{
    height: 70%;
    position: relative;
}

.error-svg{
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
}
.ring-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.lds-dual-ring-big {
    display: inline-block;
    width: calc( 40px * 3);
    height: calc( 40px * 3);
}
.lds-dual-ring-big:after {
    content: " ";
    display: block;
    width: calc( 32px * 3);
    height: calc( 32px * 3);
    margin: calc(4px * 3);
    border-radius: 50%;
    border: calc(3px * 3) solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring{
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}


@media screen and (max-width: 700px) {
    main{
        height: 65%;
    }
}