.results{
    position: absolute;
    z-index: 500;
    background-color: white;
    display:flex;
    justify-content: center;
    padding: 2rem;
    left:  50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    height: fit-content;
}
.results > div {
    display: flex;
    min-height:80%;
    flex-direction: column;
    gap:0.5rem;
    padding: 0 2.5rem;
    border-left: 1px solid var(--color-darkgrey)
}
.results > div:first-child {
    border: none;
}
.results >div >h1{
    color: var(--color-black)
}
small{
    color: var(--color-darkgrey);
}

                /* LOADING */

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .results{
        padding: 16px;
    }
    .results > div{
        padding: 0 1rem;
    }
}
@media screen and (min-width: 900px) and (max-height:700px) {
    .results{
        transform: translateX(-50%) translateY(-35%);
    }
    .results > div > h1{
        font-size: 20px;
    }
}
 
@media screen and (max-width: 700px) {
    .results{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5rem 2rem;
    }
    small{
        font-size: 10px;
    }
    .results > div {
        border:none;
        gap: 0.2rem;
        padding: 0.2rem 1rem;
    }
    .results > div > h1{
        font-size: 18px;
    }
}

@media screen and (max-width: 390px) {
    .results{
        transform: translateX(-50%) translateY(-35%);
    }
}

@media screen and (max-width: 700px) and (max-height: 600px) {
    .results{
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .results > div > h1{
        font-size: 16px;
    }
    small{
        font-size: 10px;
    }
}