.results{
    position: absolute;
    z-index: 500;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    left:  50%;
    transform: translateX(-50%) translateY(-50%);
    gap: 5rem;
    border-radius: 20px;
    height: fit-content;
}
.results > div {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
small{
    color: var(--color-darkgrey);
}

                /* LOADING */

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
                  
                  
                  